<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="metricMappings" type="Application.Configuration.MetricMappingsConfigurationSection" />
		<section name="topology"   type="Application.Configuration.TopologyConfigurationSection" />
	</configSections>

	<appSettings>
		<add key="OperaModel" value="brownout.model.pxl" />
		<add key="FilterConfig" value="brownout.kalman.config" />
	</appSettings>


	<topology name="Awesome Cloud" keypair="" id="">
		<cluster name="Web Cluster" id="WebCluster">
			<node name="Web Balancer" id="" type="balancer" ami="ami-05eebb6c" publicIP="" privateIP="" size="t1.micro" security="corba" region="us-east-1d">
				<container name="Apache 2" id="">
					<service name="proxy_balancer" id="3A27411F-5EBD-4299-8B15-3368DEBA0791" />
				</container>
			</node>
			<node name="Web Host" id="" type="worker" ami="ami-05eebb6c" publicIP="" privateIP=""  size="t1.micro" security="corba" region="us-east-1d">
				<container name="Tomcat 6" id="">
					<service name="Simple Database Operations" id="C466F244-4019-428a-8ED9-D15FECC09118" />
				</container>
			</node>
		</cluster>
		<cluster name="Database Cluster" id="DatabaseCluster">
			<node name="Data Host: Asgard" id="" type="worker" ami="ami-05eebb6c" publicIP="" privateIP=""  size="t1.micro" security="corba" region="us-east-1d">
				<container name="Mysql" id="">
					<service name="Simple Database" id="266D2BF8-8AF1-4e02-8E16-18F470C7CA42" />
				</container>
			</node>
		</cluster>
		<dependencies>
			<!-- Connect "Simple Database Operations" app to MySql -->
			<dependency from="C466F244-4019-428a-8ED9-D15FECC09118" to="266D2BF8-8AF1-4e02-8E16-18F470C7CA42" />
			<!-- Connect Load Balancer to Tomcat -->
			<dependency from="3A27411F-5EBD-4299-8B15-3368DEBA0791" to="C466F244-4019-428a-8ED9-D15FECC09118" />
		</dependencies>
	</topology>

	<metricMappings>
		<metricsToModel>
			<metric monitorPath="/WebCluster/[Balancer]/Users normal"   modelPath="/Model/Workloads/WorkloadMixes/Mix[@scenario='normal']/@load" />
			<metric monitorPath="/WebCluster/[Balancer]/Users low"   modelPath="/Model/Workloads/WorkloadMixes/Mix[@scenario='low']/@load" />
		</metricsToModel>

		<metricsToFilter>
			<metric monitorPath="/WebCluster/Average/CPUUtilization"            filterIdx="0"/>
			<metric monitorPath="/WebCluster/[Balancer]/Response Time normal"   filterIdx="1"/>
			<metric monitorPath="/WebCluster/[Balancer]/Response Time low"   filterIdx="2"/>
			<metric monitorPath="/WebCluster/[Balancer]/Throughput normal"      filterIdx="3"/>
			<metric monitorPath="/WebCluster/[Balancer]/Throughput low"      filterIdx="4"/>
		</metricsToFilter>
	</metricMappings>

</configuration>