[Desktop Entry]
Version=1.0
Type=Application
Name=Rainbow Debug
Comment=Rainbow system for managing SWIM simulation
Exec=xterm -e "./run-oracle.sh -d -a -p rainbow-gui.properties rainbow-example |& tee /rainbow/logs/rainbow-console.out"
Icon=/headless/rainbow.png
Path=/rainbow
Terminal=false
StartupNotify=false
