[Desktop Entry]
Version=1.0
Type=Application
Name=Rainbow
Comment=Rainbow system for managing SWIM simulation
Exec=xterm -e "./run-oracle.sh -a -p rainbow-swim.properties rainbow-example | tee rainbow-console.out"
Icon=/headless/rainbow.png
Path=/rainbow
Terminal=false
StartupNotify=false
