<?xml version="1.0"?>
<!DOCTYPE Config SYSTEM "Kalman Filter.dtd">
<Config>

	<!-- THIS is z for the filter-->
	<MeasuredMetrics>
		<MeasuredMetric name="CpuUtil_Web"  description="Measured CPU utilization on WebHost."  default="0.12881"/>

		<MeasuredMetric name="ResponseTimeNormal"  description="The response time for scenario insert."   default="0.0194139"/>
		<MeasuredMetric name="ResponseTimeLow"  description="The response time for scenario update."   default="0.0011148"/>
                                                                                       
		<MeasuredMetric name="ThroughputNormal"  description="The throughput for scenario insert."   default="18.8167"/>
		<MeasuredMetric name="ThroughputLow"  description="The throughput for scenario update."   default="18.95"/>
	</MeasuredMetrics>

	<!-- THIS is y for the filter; note that the names are the same as for z; keep the same order as for z-->
	<EstimatedMetrics>
		<!-- In the results of the model (after the model is solved)
		type = {Utilization, Users, ThinkTime, Throughput, ResponseTime}
		type = Utilization  -  /Results/Architecture/Workloads/Node[name=<parent>]/<elementName>/Utilization/?
		type = ResponseTime -  /Results/Architecture/Workloads/Scenario[name=<scenario>]/ResponseTime/?
		                    -  /Results/Architecture/Workloads/Service[name=<elementName>]/PerScenarioResponseTime[scenario=<scenario>]/@value
		type = Throughput   -  /Results/Architecture/Workloads/Scenario[name=<scenario>]/Throughput/?
		-->
		
		<EstimatedMetric name="CpuUtil_Web"  xPath="/Results/Architecture/Workloads/Node[@name='WebHost']/CPU/Utilization/text()"  scale="1"/>

		<EstimatedMetric name="ResponseTimeNormal"  xPath="/Results/Architecture/Workloads/Scenario[@name='normal']/ResponseTime/text()"   scale="1"/>
		<EstimatedMetric name="ResponseTimeLow"  xPath="/Results/Architecture/Workloads/Scenario[@name='low']/ResponseTime/text()"   scale="1"/>

		<EstimatedMetric name="ThroughputNormal"  xPath="/Results/Architecture/Workloads/Scenario[@name='normal']/Throughput/text()"   scale="1"/>
		<EstimatedMetric name="ThroughputLow"  xPath="/Results/Architecture/Workloads/Scenario[@name='low']/Throughput/text()"   scale="1"/> 
	</EstimatedMetrics>                                                                                                                     

	<!--This is X, THESE ARE THE ESTIMATED PARAMETERS...-->
	<ModelParameters>
		<!-- Model/Scenarios/Scenario[name=<scenario>]/Call[calee=<elementName>]/Demand[<parameterName>=?] -->

		<ModelParameter name="CPUDemand_Proxy" default="0.0001" scale="1" xPath="/Model/Scenarios/Scenario/Call[@callee='ProxyServer']/Demand/@CPUDemand"/>

		<!-- The 'normal' scenario - we want the CPU demand for the web server. -->
		<ModelParameter name="CPUDemand_Web_Normal" default="0.0183273" scale="1" xPath="/Model/Scenarios/Scenario[@name='normal']/Call[@callee='WebServer']/Demand/@CPUDemand"/>

		<!-- The 'low' scenario - we want the CPU demand for the web server. -->
		<ModelParameter name="CPUDemand_Web_low" default="0.001084" scale="1" xPath="/Model/Scenarios/Scenario[@name='low']/Call[@callee='WebServer']/Demand/@CPUDemand" />
	</ModelParameters>
</Config>