<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.sa.org/rainbow/stitch/Stitch"
			class = "org.sa.rainbow.stitch.stitch.StitchPackage"
			genModel = "model/generated/Stitch.genmodel" />
	</extension>
</plugin>
